$white-color: #ffffff;
$white-background-color: #f8f8f8;
$white-cloud-color: #f5f5f5;
$light-cloud-color: #eeeeee;
$cloud-color: #cccccc;
$deep-cloud-color: #aaaaaa;
$light-gray-color: #dddddd;
$gray-color: #999999;
$deep-gray-color: #979797;
$basic-color: #333333;
$black-color: #1d1d1d;
$real-black-color: #000000;
$deep-primary-color: #87314e;
$primary-color: #df405a;
$light-on-color: #bab5f2;
$on-color: #6b60e5;
$deep-on-color: #504b9f;

$grayish-navy-color: #424753;
$grayscale-4-5-color: #53545f;
